<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}OC Plateform{% endblock %}</title>

		{% block stylesheet %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div id="header" class="jumbotron">
				<h1>Ma plateforme d'annonces</h1>
				<p>
					Ce projet est propulsé par symfony, et construit grâce au MOOC d'OpenClassrooms et SensioLabs
				</p>
				<p>
					<a href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2" class="btn btn-primary btn-lg">
						Participer au MOOC >>
					</a>
				</p>
			</div>
			<div class="row">
				<div id="menu" class="col-md-3">
					<h3>Les annonces</h3>
					<ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="{{ path('oc_plateform_home') }}">Accueil</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ path('oc_plateform_add') }}">Ajouter une annonce</a></li>
					</ul>

					<h4>Dernières Annonces</h4>
					{{ render(controller('OCPlateformBundle:Advert:menu', {limit: 3})) }}
				</div>
			</div>
		</div>
	</body>
</html>
