{% extends "::layout.html.twig" %}
{% block title %}Annonces - {{ parent() }}{% endblock %}
{% block body %}
	<h1>Annonces</h1>

	<hr>

	{% block oc_plateform_body %}{% endblock %}
	<div>
		{% block oc_plateform_bottom_buttons %}
		
			<a href="{{ path('oc_plateform_home') }}" class="btn btn-light border mr-2"><span class="fas fa-chevron-left"></span> Retour</a>
			
		{% endblock %}
	</div>
{% endblock %}
