{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}


<!DOCTYPE html>

<html>

  <head>

    <title>Ajout d'annonces !</title>

  </head>

  <body>

    <h1>Hello !</h1>


    <p>

      page d'ajout d'annonce

    </p>

  </body>

</html>