{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends 'OCPlateformBundle::layout.html.twig' %}
{%block title %}{{ parent() }} - Ajout d'annonce {% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {% include 'OCPlateformBundle:Advert:form.html.twig' %}

    <p>
    	attention cette annonce sera ajoutée!
    </p>
{% endblock %}