{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}


<!DOCTYPE html>

<html>

  <head>

    <title>Edition d'annonce !</title>

  </head>

  <body>

    <h1>Edition de l'annonce n° {{ id }} !</h1>


    <p>

      bzal

    </p>

  </body>

</html>