<!DOCTYPE HTML>
<html>
	<head>
		<title>
			Annonce {{ id }}
		</title>
	</head>
	<body>
		<h1>L'annonce n° {{ id }}</h1>
		<div>
			{% if tag != "" %}
				Avec le tag {{ tag }}
			{% else %}
			    sans tag
			{% endif %}
		</div>
		<div>
			{% for info in app.session.flashbag.get('info') %}
			    <p>{{ info }}</p>
			{% endfor %}
		</div>
	</body>
</html>
